*, *::after, *::before {
    box-sizing: border-box;
}

html, 
body {
    font-family: 'Source Sans 3';
    margin: 0;
    padding: 0;
}

/* Typography */

.header-container-left p {
    font-size: 0.85rem;
    color: #090909;
    font-weight: 700;
}

li a {
    font-size: 0.75rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #0E0E0E;
}

.hero {
    color: #FFF;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.6);

}

footer {
    font-size: 0.75rem;
    font-family: 'Source Sans 3';
    background-color: #202020;
    color: #D7D7D7; 
}

.footer-p {
    font-weight: bold;
}

/* layout */


header, .header-container-left, .hero, nav ul, footer, main {
    display: flex;
}

body {
    display: grid;
    line-height: 1.5em;
    grid-template-columns: 1fr;
    grid-auto-rows: auto minmax(480px, 1fr) auto;
    height: auto;
    min-height: 100vh;
    
}


header, .header-container-left{
    align-self: start;
    align-items: center;
    justify-content: center;
}

header {
    justify-content: space-between;
    /* margin: 1.25em; */

}

.header-container-left {
    column-gap: 0.2em;
    flex-basis: 170px;
}

nav ul {
    list-style: none;
    flex-basis: 200px;
    column-gap: 1.5em;
}

main {
    flex-direction: column;
    width: 100%;
}

.hero-container{
    width: 100%;
    background-color: #101010; 
}

.hero {
    margin: 0 auto;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1.25em;

}

.hero time, .hero p, .hero h1 {
    margin: 0;
    padding: 0;
}

.hero h1{
    padding: 0.5rem 0;
}

footer {
    flex-direction: column;
    align-self: end;
    align-items: center;
    padding: 2.5rem 0 2.5rem 0;

}

.footer-p{
    margin-bottom: 0;
}

.copyright-p{
    margin-top: 0;
}

/* Images */

.hero {
    background-image: url('../images/blog-image-herobig.png');
    background-size: cover;
    background-position: center;
    min-height: 480px;
    max-width: 1085px;
}